@using STPGroup.Services.ViewModels.MVCModels

@model EmployeeViewModel

@using (Html.BeginForm("Delete", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CompanyId)
        Are you sure you want to delete employee @Model.FirstName @Model.LastName ?
    </div>
    <div class="row">
        <input type="submit" value="Submit">
    </div>
}